<form>
    <div class="flexrow">
        <button class="new-game">New Dungeon</button>
        <button class="reset-treasure">Reset Treasure</button>
    </div>
    <div class="flexrow">
        <button class="next-turn">Next Turn</button>
        <button class="next-round">Next Round</button>
    </div>
    <div>
        <h2 class="center">Treasures Remaining: {{treasures}}/{{treasure_max}}</h2>
    </div>
    <div>
        <h2 class="center">Heros</h2>
        <table>
            <tr>
                <th class="center perc5" title="Target Hero"></th>
                <th class="center perc40" title="Hero Name">Name</th>
                <th class="center perc5" title="Initiative Roll">I</th>
                <th class="center perc5" title="Move Rolled">M</th>
                <th class="center perc10" title="Body">B</th>
                <th class="center perc5" title="Attack">A</th>
                <th class="center perc5" title="Defence">D</th>
                <th class="center perc5" title="Mind">M</th>
                <th class="center perc5" title="Stone Skin">S</th>
                <th class="center perc5" title="Courage">C</th>
            </tr>
        {{#each heros as |hero|}}
            <tr>
                <td class="center perc5"><a class="target-player" data-name="{{hero.name}}"><i class="fas fa-crosshairs"></i></a></td>
                <td class="center perc40">{{hero.name}}</td>
                <td class="center perc5">{{hero.data.data.initiative}}</td>
                <td class="center perc5">{{hero.data.data.cur_move}}</td>
                <td class="center perc10">{{hero.data.data.body.value}}/{{hero.data.data.body.max}}</td>
                <td class="center perc5">{{sum hero.data.data.atk '+' (sum hero.data.data.tmp_atk '+' hero.data.data.spell_bonus_atk)}}</td>
                <td class="center perc5">{{sum data.data.def '+' (sum data.data.tmp_def '+' data.data.spell_bonus_def)}}</td>
                <td class="center perc5">{{hero.data.data.mind}}</td>
                {{#if (eq hero.data.data.spell_bonus_def 2)}}
                <td class="perc5 center" data-name="{{hero.name}}"><a class="stone-toggle"><i class="fas fa-check"></i></a></td>
                {{else}}
                <td class="perc5 center" data-name="{{hero.name}}"><a class="stone-toggle"><i class="fas fa-times"></i></a></td>
                {{/if}}
                {{#if (eq hero.data.data.spell_bonus_atk 2)}}
                <td class="perc5 center" data-name="{{hero.name}}"><a class="courage-toggle"><i class="fas fa-check"></i></a></td>
                {{else}}
                <td class="perc5 center" data-name="{{hero.name}}"><a class="courage-toggle"><i class="fas fa-times"></i></a></td>
                {{/if}}
            </tr>
        {{/each}}
        </table>
    </div>
    <div>
        <h2 class="center">Monsters</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Move</th>
                <th>Body</th>
                <th>Atk</th>
                <th>Def</th>
                <th>Mind</th>
                <th class="center perc5"><i class="fas fa-crosshairs"></i></th>
            </tr>
            {{#each monsters as |mon|}}
            <tr>
                <td class="center perc40">{{mon.name}}</td>
                <td class="center perc5">{{mon.move}}</td>
                <td class="center perc5">{{mon.body}}</td>
                <td class="center perc5">{{mon.atk}}</td>
                <td class="center perc5">{{mon.def}}</td>
                <td class="center perc5">{{mon.mind}}</td>
                <td class="center perc5"><i class="fas fa-crosshairs attack-roll" data-index="{{@index}}"></i></td>
            </tr>
            {{/each}}
        </table>
    </div>
</form>