<form class="{{cssClass}}" autocomplete="off">
    <div class="form">
        <div class="border">
            <h1 class="center">
                <div class="center" data-edit="name" contenteditable="">{{actor.name}}</div>
            </h1>
            {{#if (eq data.data.choose_class true)}}
                <h1 class="center">
                    <select name="data.class" class="class-select">
                        {{#each heros as |hero|}}
                            {{#if (eq ../data.data.class @index)}}
                        <option value="{{@index}}" selected>{{hero.name}}</option>
                            {{else}}
                        <option value="{{@index}}">{{hero.name}}</option>
                            {{/if}}
                        {{/each}}
                    </select>
                    <a class="center set-class">Select Class</a>
                </h1>
            {{else}}
                <h2 class="center">{{data.data.class_name}}</h2>
                <h2 class="center">Gold: {{data.data.gold}}</h2>
            {{/if}}
        </div>
        <div class="flexrow">
            <div>
                <h2 class="center">Stats</h2>
                <table class="center" style="table-layout: fixed;">
                    <tr class="center">
                        <th>Move</th>
                        <td>2d6</td>
                    </tr>
                    <tr class="center">
                        <th>Body</th>
                        <td>{{data.data.body.value}}/{{data.data.body.max}}</td>
                    </tr>
                    <tr class="center">
                        <th>Attack</th>
                        <td>{{data.data.atk}}</td>
                    </tr>
                    <tr class="center">
                        <th>Defence</th>
                        <td>{{data.data.def}}</td>
                    </tr>
                    <tr class="center">
                        <th>Mind</th>
                        <td>{{data.data.mind}}</td>
                    </tr>
                </table>
            </div>
            <div>
                <h2 class="center">Gear</h2>
                <table>
                    <tr>
                        <th>Helmet</th>
                        <td>{{data.data.helmet}}</td>
                    </tr>
                    <tr>
                        <th>Armour</th>
                        <td>{{data.data.armour}}</td>
                    </tr>
                    <tr>
                        <th>Shield</th>
                        <td>{{data.data.shield}}</td>
                    </tr>
                    <tr>
                        <th>Weapon</th>
                        <td>{{data.data.weapon}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="flexrow">
            <div>
                <h2>Potions</h2>
                <table>
                    <tr class="center">
                        <th class="perc80">Potion</th>
                        <th class="perc10">Amt</th>
                        <th class="perc10">Use</th>
                    </tr>
                    {{#each data.data.potions as |potion|}}
                    <tr class="center" title="{{potion.description}}">
                        <td>potion.name</td>
                        <td>potion.amount</td>
                        <td><a><i class="fas fa-flask-round-potion"></i></a></td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</form>