<form class="{{cssClass}}" autocomplete="off">
    <div class="border">
        <h1 class="center">
            <div class="center" data-edit="name" contenteditable="">{{actor.name}}</div>
        </h1>
        {{#if (eq data.data.choose_class true)}}
            <h3 class="center">
                <select name="data.class" class="class-select">
                    {{#each heros as |hero|}}
                        {{#if (eq ../data.data.class @index)}}
                    <option value="{{@index}}" selected>{{hero.name}}</option>
                        {{else}}
                    <option value="{{@index}}">{{hero.name}}</option>
                        {{/if}}
                    {{/each}}
                </select>
                <a class="center set-class">Select Class</a>
            </h3>
        {{else}}
            <h3 class="center">{{data.data.class_name}}</h3>
        {{/if}}
    </div>
    <div>
        <table class="center" style="table-layout: fixed;">
            <tr class="center">
                <th>Move</th>
                {{#if (eq data.data.move_rolled false)}}
                <td>{{sum data.data.move '+' data.data.tmp_move}}d6</td>
                {{else}}
                <td>{{data.data.cur_move}}</td>
                {{/if}}
            </tr>
            <tr class="center">
                <th>Body</th>
                <td>{{data.data.body.value}}/{{data.data.body.max}}</td>
            </tr>
            <tr class="center">
                <th>Attack</th>
                <td>{{sum data.data.atk '+' (sum data.data.tmp_atk '+' data.data.spell_bonus_atk)}}</td>
            </tr>
            <tr class="center">
                <th>Defence</th>
                <td>{{sum data.data.def '+' (sum data.data.tmp_def '+' data.data.spell_bonus_def)}}</td>
            </tr>
            <tr class="center">
                <th>Mind</th>
                <td>{{data.data.mind}}</td>
            </tr>
        </table>
    </div>
</form>