<form class="{{cssClass}}" autocomplete="off">
    <div class="form">
        <div class="border">
            <h1 class="center">
                <div class="center" data-edit="name" contenteditable="">{{actor.name}}</div>
            </h1>
        </div>
        <div class="flexbox">
            <div>
                <h2>Stats</h2>
                <table class="center" style="table-layout: fixed;">
                    <tr class="center">
                        <th>Move</th>
                        <td class="center"><p>2d6</p></td>
                    </tr>
                    <tr class="center">
                        <th>Body</th>
                        <td class="flexrow">
                            <input class="center" type="number" name="data.body.value" value="{{data.data.body.value}}">/
                            <input class="center" type="number" name="data.body.max" value="{{data.data.body.value}}">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>